/* :: 12.0 Blog CSS */

.single-post-area {
    position: relative;
    z-index: 1;

    .post-thumbnail {
        position: relative;
        z-index: 1;
        margin-bottom: 30px;

        a {
            display: block;
        }
    }

    .post-content {
        position: relative;
        z-index: 1;

        .post-title {
            font-weight: 400;
            font-size: 20px;
            display: block;
            margin-bottom: 15px;
            font-family: $font-playfair-display;

            &:hover,
            &:focus {
                color: $hover;
            }
        }

        .post-meta {
            position: relative;
            z-index: 1;
            margin-bottom: 15px;

            a {
                position: relative;
                z-index: 1;
                font-size: 14px;
                color: $secondary;
                display: inline-block;
                margin-right: 30px;

                &:last-child {
                    margin-right: 0;

                    &::before {
                        content: '|';
                        position: absolute;
                        top: 0;
                        left: -20px;
                        z-index: 1;
                    }
                }

                &:hover,
                &:focus {
                    color: $hover;
                }
            }
        }

        p {
            margin-bottom: 0;
        }
    }

    &:hover,
    &:focus {
        .post-content {
            .post-title {
                color: $hover;
            }
        }
    }
}

.akame-blog-details-area {
    position: relative;
    z-index: 1;

    .post-content {
        position: relative;
        z-index: 1;
        text-align: center;
        margin-bottom: 50px;

        .post-title {
            font-weight: 400;
            font-size: 42px;
            display: block;
            margin-bottom: 0;
            font-family: $font-playfair-display;

            @media #{$breakpoint-xs} {
                font-size: 30px;
            }
        }

        .post-meta {
            position: relative;
            z-index: 1;
            margin-bottom: 15px;

            a {
                position: relative;
                z-index: 1;
                font-size: 16px;
                color: $secondary;
                display: inline-block;
                margin-right: 30px;

                &:last-child {
                    margin-right: 0;

                    &::before {
                        content: '|';
                        position: absolute;
                        top: 0;
                        left: -20px;
                        z-index: 1;
                    }
                }

                @media #{$breakpoint-xs} {
                    font-size: 14px;
                }

                &:hover,
                &:focus {
                    color: $hover;
                }
            }
        }
    }
}

.blog-details-text {
    position: relative;
    z-index: 1;

    p {
        font-size: 20px;
        margin-bottom: 30px;

        @media #{$breakpoint-xs} {
            font-size: 16px;
        }
    }

    p {
        &:first-child {
            @include display-flex(flex);
            line-height: 1;

            span {
                &:first-child {
                    font-weight: 700;
                    margin-right: 15px;
                    font-size: 17px;

                    @media #{$breakpoint-xs} {
                        font-size: 50px;
                    }
                }

                &:last-child {
                    line-height: 1.7;
                }
            }
        }
    }

    ul {
        position: relative;
        z-index: 1;
        padding-left: 15px;

        li {
            font-size: 20px;
            color: $text;
            margin-bottom: 30px;

            span {
                color: $heading;
            }

            i {
                font-size: 14px;
                margin-right: 10px;
            }

            @media #{$breakpoint-xs} {
                font-size: 16px;
            }
        }
    }
}

.akame-blockquote {
    position: relative;
    z-index: 1;
    margin-bottom: 30px;
    margin-top: 30px;
    border-left: 5px solid $hover;
    padding: 15px;

    h4 {
        margin-bottom: 0;

        @media #{$breakpoint-xs} {
            font-size: 20px;
        }
    }
}

.akame-post-share {
    position: relative;
    z-index: 1;

    a {
        display: block;
        width: 46px;
        height: 46px;
        border-radius: 50%;
        background-color: $primary;
        color: $white;
        text-align: center;
        margin-bottom: 10px;
        line-height: 46px;

        @media #{$breakpoint-xs} {
            width: 30px;
            height: 30px;
            line-height: 30px;
        }

        &.facebook {
            background-color: #4b62b3;
        }

        &.twitter {
            background-color: #03baeb;
        }

        &.google-plus {
            background-color: #cb242e;
        }

        &.instagram {
            background-color: #057ad7;
        }

        &:hover,
        &:focus {
            background-color: $primary;
        }
    }
}

.post-author-area {
    position: relative;
    z-index: 1;
    padding: 30px 0;
    border-top: 1px solid $border;

    .author-meta {
        .author-avatar {
            @include flex(0 0 60px);
            max-width: 60px;
            width: 60px;
            height: 60px;
            margin-right: 30px;

            @media #{$breakpoint-xs} {
                @include flex(0 0 40px);
                max-width: 40px;
                width: 40px;
                height: 40px;
                margin-right: 5px;
            }

            img {
                border-radius: 50%;
            }
        }

        .author-text {
            p {
                font-size: 14px;
                margin-bottom: 5px;

                @media #{$breakpoint-xs} {
                    font-size: 12px;
                }
            }

            h5 {
                margin-bottom: 0;

                @media #{$breakpoint-xs} {
                    font-size: 14px;
                }
            }
        }
    }

    .author-social-info {
        a {
            display: inline-block;
            width: 46px;
            height: 46px;
            border-radius: 50%;
            background-color: $primary;
            color: $white;
            text-align: center;
            margin-left: 15px;
            line-height: 46px;

            @media #{$breakpoint-xs} {
                width: 30px;
                height: 30px;
                line-height: 30px;
                margin-left: 2px;
                font-size: 14px;
            }

            &.facebook {
                background-color: #4b62b3;
            }

            &.twitter {
                background-color: #03baeb;
            }

            &.google-plus {
                background-color: #cb242e;
            }

            &:hover,
            &:focus {
                background-color: $primary;
            }
        }
    }
}