*{
    
}
.form{
    background-color: #fff;
    max-width: 500px;
}
.btn-primary {
    color: #fff;
    background-color: #75b532;
    border-color: #75b532;
    width: 100%;
}
.btn-primary::after {
    color: #fff;
    background-color: #75b532;
    border-color: #75b532;
    width: 100%;
}
.btn-primary:hover {
    color: #fff;
    background-color: #75b532;
    border-color: #75b532;
    width: 100%;
}
.btn-primary:active{
    color: #fff;
    background-color: #75b532;
    border-color: #75b532;
    width: 100%;
}

