<!-- File -->
<div class="form-group{{ if(required) { }} required-control{{ } }}{{ if (containerClass) { }} {{= containerClass }}{{ } }}">
    {{ if (label) { }}<label {{ if (labelClass) { }} class="{{= labelClass }}"{{ } }} for="{{= id }}">{{= label }}</label>{{ } }}
    <input type="file" id="{{= id }}" name="{{= id }}" accept="{{= accept }}" {{ if (minSize) { }} data-min-size="{{= minSize }}" {{ } }}{{ if(maxSize) { }}data-max-size="{{= maxSize }}" {{ } }}{{ if(cssClass) { }}class="{{= cssClass }}" {{ } }} {{ if(required){ }}required {{ } }}{{ if(readOnly) { }}readOnly {{ } }}{{ if(disabled) { }}disabled {{ } }}>{{ if (helpText) { }}
    <p class="help-block">{{= helpText }}</p>{{ } }}
</div>
