{{ if(containerClass) { }}<!-- Paragraph Text -->
<div class="{{= containerClass }}">
    <p{{ if(cssClass) { }} class="{{= cssClass }}" {{ } }}>{{= text }}</p>
</div>
{{ } else { }}<!-- Paragraph Text -->
<p{{ if(cssClass) { }} class="{{= cssClass }}"{{ } }}>{{= text }}</p>
{{ } }}